.has-preloader {
  position: relative;
}
.waiting{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  .mdl-spinner {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  }
}
.waiting:before{
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 5;
}
